<!-- <ul *ngFor="let data of recivedData">
    <li>{{data.to}}</li>
    <li>{{data.subject}}</li>
    <li>{{data.message}}</li>
</ul> -->
<br>
<div class="container">
    <table class="table table-light table-hover">
        <thead>
            <tr class="bg-dark text-white">
                <th [attr.colspan]="3" class="text-center">Sent Mails</th>
            </tr>
            <tr class="bg-primary">
                <th>Sent To</th>
                <th>Subject</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <tr *ngFor="let data of recivedData;index as i">
                    <td>{{data.to}}</td>
                    <td>{{data.subject}}</td>
                    <td>{{data.message}}</td>
                </tr>
        </tbody>
    </table>
</div>